@model IEnumerable<MvcTodoes.Models.Todoes>
@* @model MvcTodoes.Models.Todoes *@
@{
    ViewData["Title"] = "Done list";
}

<h1>Done list</h1>

@* Not use *@
@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

@* Form to search task *@
<form asp-controller="Todoes" asp-action="Done">
    <p>
        Search Box: <input type="text" name="SearchString" 
        value="@ViewData["CurrentFilter"]" placeholder="Name task." />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Check)
            </td>
            <td>
                @* Not use *@
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                
                <a asp-action="MakeDone" asp-route-id="@item.Id">Not Done</a>|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
