@model IEnumerable<MvcTodoes.Models.Todoes>

@{
    ViewData["Title"] = "To-do";
}

<h1>To-do</h1>

@* Not use *@
@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

@* Form to search task *@
<form asp-controller="Todoes" asp-action="Index">
    <p>
        Search Box: <input type="text" name="SearchString" 
        value="@ViewData["CurrentFilter"]" placeholder="Name task." />
        <input type="submit" value="Filter" />
    </p>
</form>

@* Form to add task *@
<form asp-controller="Todoes" asp-action="ShotCreate" method="post">
    <p>
        Add to-do list: <input type="text" name="Title" 
        placeholder="Name task." />
        <input type="submit" value="Add" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Check)
            </td>
            <td>
                <button type="button">
                    <a asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-pageIndex="true">Done</a>
                </button>
                <button type="button">
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
